git+https://github.com/tskit-dev/tsconvert@e99c837e4e26ccbf4f480a4c48626338eeff7dc3
demes
demesdraw
jupyter-book>=0.12.0
jupyter-cache
msprime>=1.0
networkx
pandas
pygraphviz
scikit-allel
stdpopsim
tqdm
tskit>=0.5.4
tskit_arg_visualizer
tszip
