git+https://github.com/tskit-dev/tsconvert@4ed3c0f9bbbb79c7c394b352c58f5386cfef2b90
demes
demesdraw
jupyter-book >= 0.12.0, < 2.0
jupyter-cache
msprime>=1.0
networkx
pandas
pygraphviz
scikit-allel>=1.3.9
stdpopsim>=0.3
tqdm
tskit>=1.0.0
tskit_arg_visualizer>=0.1.1
tszip
